body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #FFFFFF;
    background-color:#737373;
}
/*gombok*/
.button2 {
  border-radius: 4px;
  background-color: rgb( 254, 189, 1 );
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
/*gombok*/

